:root {
    --bg-color: rgb(208, 128, 128);
}

body {
    background-color: var(--bg-color);
    font-family: "Lato", Arial, Helvetica, sans-serif
}

.hero {
    margin:2rem 0;
    border: 1px solid black;
}

